[2013-08-07 19:35] ax3l opened #1 "Compile Examples"
Add **examples/** to `CMakeLists.txt`.

[2013-08-07 19:40] ax3l opened #2 "Correct Compiler Warnings"
Remove Compiler Warnings:

See [here](http://stackoverflow.com/questions/7896645/c-deprecated-conversion-from-string-constant-to-char).

[2013-08-07 22:03] ax3l opened #3 "Add include/pngwriter.h to install"
Install the `pngwriter.h` file to `include/`

[2013-08-07 22:03] ax3l opened #4 "Add test Routines with .travis.yml"
Run the examples and validate the output (hash sums?)

[2013-08-07 22:06] #1 closed, assigned to ax3l

[2013-08-07 22:41] ax3l opened #5 "Valgrind the examples for memory leaks"
Check for memory [leaks](http://cs.ecs.baylor.edu/~donahoo/tools/valgrind/).

[2013-08-08 07:52] #2 closed, assigned to ax3l

[2013-08-08 08:27] #3 closed, assigned to ax3l

[2014-01-09 16:01] ax3l opened #6 "Debian Bugreport #633405"
Does this Bug still exist?

http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=633405

**Edit:** Tested and _yes_ still does...

[2014-01-09 16:32] #6 closed, assigned to ax3l

[2014-03-03 16:44] ax3l opened #7 "Installed lib still needs NO_FREETYPE flag"
The installed version of pngwriter still requires programs to detect and set the `NO_FREETYPE` flag if freetype fonts are not found (e.g. [here](https://github.com/ComputationalRadiationPhysics/picongpu/pull/248)).

That's rather shitty and would be nice if the first install could either remember this (introduce a `version.hpp`?) or a CMakeModule could set this during `find_package`.

[2014-03-03 16:52] ax3l opened #8 "Write CMake Module"
Write a CMake Module like in https://github.com/ComputationalRadiationPhysics/libSplash/issues/78

[2014-03-03 16:53] ax3l opened #9 "Add Packing Routines"
Add CPack Routines like https://github.com/ComputationalRadiationPhysics/libSplash/pull/82

or via https://github.com/jordansissel/fpm

[2014-04-02 08:11] #8 closed, assigned to ax3l

[2014-04-06 17:00] ax3l opened #10 "Remove Deprecated png_set_gray call"
is [that](http://sourceforge.net/p/pngwriter/bugs/1/) issue fixed by now? -> _No_

[2014-04-09 17:01] #5 closed, assigned to ax3l

[2014-04-10 08:59] ax3l opened #11 "Check against newer libpng branches"
Check against the newer branches of [libpng](http://www.libpng.org/pub/png/libpng.html)

Compile-test only updates:
- [x] 1.4 #10 #12 55e021d948f058148d5abc129684d23dfb0a77e8
- [x] 1.5 b0ef022b9f4ac135e04c7c37df455df5bbdbb093
- [x] 1.6 b0ef022b9f4ac135e04c7c37df455df5bbdbb093 #56

Newly deprecated functions used by `PNGwriter`:
- [x] #54 `png_convert_to_rfc1123` -> `png_convert_to_rfc1123_buffer`

[2014-04-10 12:32] ax3l opened #12 "Fix Type Casts"
Follow up to #10 and the patch from [Daniel Hornung](http://sourceforge.net/u/dhornung/profile/) provided in [Sourceforge Bugs 1](http://sourceforge.net/p/pngwriter/bugs/1/):

[code]

[2014-04-10 12:33] #10 closed, assigned to ax3l

[2014-04-11 09:00] f-schmitt opened #13 "Average read functions don't return full color scale"
both `read(x, y)` and `dread(x, y)` fail to return the full color scale [0-65535] and [0.0-1.0], respectively. The reason most likely is that the multiplication of the internal 8but value with 256 will never reach the last 256 color values.

Can be reproduced with black/white image and the following test case:

[code]

[2014-04-14 15:26] #4 closed, assigned to ax3l

[2014-04-15 12:47] ax3l opened #14 "Run llvm's scan-build"
[code]

(~25+1 bugs)

[2014-04-27 11:29] #13 closed, assigned to ax3l

[2014-04-27 12:12] ax3l opened #15 "Grayscale Support"
Example images: http://www.fnordware.com/superpng/samples.html, and [PngSuite](http://www.schaik.com/pngsuite/)
(careful: the `pnggrad` image does only contain the highest channel value for **blue**)
- [ ] many (all?) functions "force" upgrade up to 16bit like `scale...`

---

**16-bit grayscale** images (maybe all greyscale images?)
- [ ] `readfromfile` converts to 8bit without scaling down right

[2014-05-06 17:57] ax3l opened #16 "Remove Duplicated Files"
Hey @individual61 - do you think it's fine if we remove all the copied and translated Spanish files in **0.6.0** onwards?

It is just a huge pain to update them and the code is super duplicated :(

[2014-05-09 08:04] ax3l opened #17 "Add "const" Interfaces"
Add "const" methods to all `pngwriter::` methods that do not change the state of the object.

Feature request/submission from *Alex Flint* (Dec 12th, 2006).

[2014-05-09 08:25] ax3l opened #18 "Memory Leak in operator= ?"
Does the memory leak reported here still exist in the `release-0.5.5` branch?
  https://sourceforge.net/p/pngwriter/discussion/238247/thread/c7607b9b/

[2014-05-09 08:31] ax3l opened #19 "Doubles in Triangle"
In-cooperate patch from
  http://sourceforge.net/p/pngwriter/discussion/238247/thread/6e7f2697/

[2014-05-09 08:36] ax3l opened #20 "filledtriangle / filledtriangle_blend"
Reported by Dongkook Park in November 2009.
`filledtriangle` and `filledtriangle_blend`

[code]

@individual61 can you confirm that?

[2014-05-10 20:48] ax3l opened #24 "Check Default Gamma Value"
Looks like the default _should_ be `0.5` but sometimes _is_ `0.45` or similar.

[2014-05-14 21:47] #20 closed, assigned to ax3l

[2014-05-14 21:47] #19 closed, assigned to ax3l

[2014-05-14 21:47] #18 closed, assigned to ax3l

[2014-05-14 21:48] ax3l opened #25 "Move Some Examples To Tests"
Some examples are actually tests from bug reports.
Lets move them to `tests/` so users are not confused and can focus on well documented examples.

[2014-06-11 13:20] ax3l opened #27 "Check New GCC Versions"
Looks like the include of `<cstring>` is missing in `gcc 4.8.x` for `pngwriter.cc`

Might should add a test case in travis (but this extends the build matrix -.-)

[2014-06-11 13:40] ax3l opened #28 "CMake: build tests/ folder"
Add the `tests/` dir to CMake as soon as #26 is merged.

[2014-06-12 08:14] ax3l opened #29 "Check includes for std libs"
Some standard lib includes are a bit _adventurous_.

E.g. the correct std-lib math include in [c++ should look](http://www.cplusplus.com/reference/clibrary/):

[code]

also check:
- [x] include explicitly libm/`m` in CMakeLists.txt

[2014-06-20 17:57] #25 closed, assigned to ax3l

[2014-06-20 17:57] #16 closed, assigned to individual61

[2014-06-23 21:02] ax3l opened #31 "Clang warnings"
`src/pngwriter.cc`:
- double brackets like in `if((bit_depth_ == 16))`
- line 926: warning: comparison of unsigned expression < 0 is always false
  [-Wtautological-compare] `if((index > 999999999)||(index < 0))`

[2014-06-25 20:18] #29 closed, assigned to ax3l

[2014-06-25 21:31] #31 closed, assigned to ax3l

[2014-07-01 10:59] ax3l opened #34 "Move Owner Ship to pngwriter Org"
- [x] move to organization: https://github.com/pngwriter
- [x] update all links to use new github link #41
- [x] add a nice catchy image to the organization

[2014-07-26 10:47] #27 closed, assigned to ax3l

[2014-07-26 11:15] ax3l opened #36 "Rebuild Internal Storage"
It might be worth re-building the internal image storage in a separate class.
That should make support for issues like #15 way easier.

[2014-07-29 14:55] ax3l opened #37 "Remove Freshmeat/Freecode"
Freshmeat (later: Freecode) closed June 2014.

Not sure if we still need the links or if listing in the new `Freshcode.club` is necessary (imho: not for now).

[2014-08-26 14:37] #28 closed, assigned to ax3l

[2014-10-28 14:56] #37 closed, assigned to individual61

[2014-11-03 17:27] ax3l opened #43 "Better Mac Support: RPath"
Add RPATH, see [kitware blog](http://www.kitware.com/blog/home/post/510) & [kitware wiki](http://www.cmake.org/Wiki/CMake_RPATH_handling) and warning:

[code]

thx to @PrometheusPi for spotting that.
### Careful:
- will need cmake 2.8.12+
- is bad for some linux'es: [debian policy](https://wiki.debian.org/RpathIssue)
### Ref
- better [docu in the cmake wiki](http://www.cmake.org/Wiki/CMake_RPATH_h

[2014-11-18 18:08] jprjr opened #44 "Makefile still references the old, top-level README file"
See https://github.com/ax3l/pngwriter/blob/release-0.5.5/Makefile#L126-L146

[2014-11-25 19:03] #44 closed, assigned to nobody

[2015-02-11 18:46] ax3l opened #47 "Performance with very big Images"
The write performance with very big images (above 4K) is pretty poor, see #46.

- Does the internal memory alone harm the performance (#36), can it be optimized?
- Do we call `libpng` inefficiently for writes?
- Is `libpng` itself the bottleneck?

[2015-02-11 19:41] ax3l commented on #47
Comparison for `w` = `h` = `1.0e4` pixels (100 MPixel) with performance test on setcompressionlevel for `write_png()` call with random data to `tmpfs`:

| lvl | time [s] |
|----|-----------|
| -1 |  38       |
| 0  |  14       |
| 1  |  16       |
| 2  |  17       |
| 3  |  21       |
| 5  |  26       |
| 9  | 190      |

current default is `-1` (or `-2`) sometimes o.0

[2015-02-17 10:43] syswow opened #48 "cannot plot text"
Hi,
I write the short test, it only generates a full black png.

[code]

[2015-02-17 15:06] syswow commented on #48
Fixed

[2015-02-17 15:06] #48 closed

[2015-02-17 18:23] ax3l commented on #48
hi @syswow  - thanks for the report!

did the latest version of our release branch `release-0.5.5` solve your problem? Did you find it in `0.5.4`?

[2015-02-17 18:47] syswow commented on #48
@ax3l  It's my fault, because, I use the wrong text postion.
pngwriter works very well! :smile:  :+1:

[2015-02-17 18:49] syswow commented on #48
I am very glad to see the new version have come.

[2015-02-18 12:31] ax3l commented on #48
cool, all right :+1:

[2015-02-25 10:55] ax3l opened #49 "Version in pngwriter.h"
Is writing `0.55` for `0.5.5` a good idea or should we define `major`, `minor` and `revision` in individual defines?

can we deprecate and in `0.6.0` remove the [old define](https://github.com/pngwriter/pngwriter/blob/d87668cf7294a086ec8b405f2db2d228ceed7274/src/pngwriter.h#L46) `PNGWRITER_VERSION`?

[2015-02-25 21:26] individual61 commented on #49
Hmm. Is it a bad idea to stick with the current scheme?

If we remove the version method, as you suggest for 0.6.0, what will take its place?

[2015-02-26 09:50] ax3l commented on #49
The problem is, that minor and revision numbers can not be distinguished and two-digit numbers would also fail.

I will provide the old scheme as "deprecated" via a define in case someone uses it. I will show you in a pull request :)

[2015-02-26 10:22] ax3l commented on #34
@individual61 do you have a catchy logo for pngwriter?

[2015-02-26 16:06] individual61 commented on #49
Perfect, thanks!

[2015-02-26 16:20] individual61 commented on #34
Wow, yes in fact. I found the original Gimp file from August 2002. An online converter just flattened the layers. I'll have to download GIMP tonight to export it manually. Do you know if there is a target size?

PS: Perhaps all of the above is rendered moot by your use of 'catchy'. Are you suggesting we need a new logo? =)

[2015-02-26 17:01] ax3l commented on #49
implemented and proposed in #50 -> feel free to take a look :)

[2015-02-26 17:03] ax3l commented on #34
Haha :)

2002 sounds exciting - can you send me the gimp file ? :) let's upload a preview here so we know if we should "modernize" it or if it is already "retro" :D

[2015-02-26 17:06] individual61 commented on #49
Looks good to me!

[2015-02-26 17:06] individual61 commented on #34
Ok, tonight.

[2015-02-26 17:09] ax3l commented on #49
okili dokili, feel free to hit the powerful "merge button".

[2015-02-27 07:45] individual61 commented on #34
![logo1](https://cloud.githubusercontent.com/assets/7351001/6408950/83396de8-be11-11e4-9823-f8e723c936b9.png)

[2015-02-27 07:45] individual61 commented on #34
I think it's fine, just needs some antialiasing.

[2015-02-27 07:49] #49 closed

[2015-03-02 11:24] ax3l commented on #34
ah ok I remember that one :)
for the github organization logo we rather need a squared image I guess.

[2015-03-13 05:19] individual61 commented on #34
Ok, let's see what I can do.

[2015-03-13 05:32] individual61 commented on #34
How about this?
![pngwriter logo square](https://cloud.githubusercontent.com/assets/7351001/6633547/a615647e-c907-11e4-8853-64f682656585.png)

[2015-03-13 05:40] individual61 commented on #34
I like this one better.
![pngwriter logo square rev b](https://cloud.githubusercontent.com/assets/7351001/6633634/b6e96fc4-c908-11e4-9437-e5a00657613f.png)

[2015-03-14 23:37] ax3l commented on #34
second one is sexy, I take it :)

[2015-03-14 23:38] ax3l commented on #34
updated and closed.

thank you! :+1:

[2015-03-14 23:38] #34 closed

[2015-04-20 14:04] psychocoderHPC opened #51 "gcc 4.9.1 warning"
I get the following warning when I compile with gcc `4.9.1` and use libpng version `1.6.17`

[code]

[2015-04-22 11:04] ax3l commented on #51
Thanks for the report!
Which branch did you use?

[2015-04-22 17:11] ax3l commented on #51
no it's a new warning for the `libpng 1.6.X` branch: https://travis-ci.org/pngwriter/pngwriter/jobs/52386923

[2015-04-22 17:12] ax3l commented on #51
yes, a duplicate of #11. I will close this since it's a know issue since this function is deprecated in 1.6 onwards :)

[2015-04-22 17:12] #51 closed

[2015-04-22 18:15] ax3l commented on #51
Fixed in #54 :)

[2015-04-22 19:12] psychocoderHPC commented on #51
:+1:

[2015-04-22 19:48] ax3l opened #55 "readfromfile: return value"
`pngwriter::readfromfile` as used in `examples/pngtest.cc` needs a return value.

Else, segfaults will appear as in [this example](https://github.com/pngwriter/pngwriter/pull/54#issuecomment-95310548), where the read call failed to to an invalid transform that was applied to the "png object".

[2015-04-22 19:58] ax3l commented on #24
Also, the magic numbers such as the [screen_gamma](http://www.libpng.org/pub/png/libpng-manual.txt) ("usually 2.2") should be moved to a general `#define`.

[2015-04-22 20:06] ax3l commented on #51
nevertheless, when you compile `libpng` yourself, use the `1.2.X` series.

Especially the `1.6.X`+ support is still very fresh and I just found an other bug in pngwriter that will first be fixed with #54.

[2015-04-23 06:45] #11 closed

[2015-04-27 08:24] psychocoderHPC commented on #51
Thanks for the information, I will switch to an older libpng version.

[2015-05-11 14:39] ax3l opened #57 "Remove need of `png.h` in INCLUDE_PATH"
Since `pngwriter.h` is the general include that users include, the [third party includes](https://github.com/pngwriter/pngwriter/blob/c88a1cac4217eabfca6990ed005702533d1af39b/src/pngwriter.h#L55-L68) of `png.h`, `zlib.h` and `ft2build.h` are required to reside in their `INCLUDE_PATH`.

That's not necessary (since we don't use them in interfaces) and a pain with non-default paths.

Related to:
 - h

[2015-05-11 15:04] ax3l commented on #57
Due to public member functions such as
[code]

that pull in externally exposed `FT_Bitmap` types from `<ft2build.h>` which in turn *must* be included after `<png.h>` might prevent implementing #7 or the whole issue without an interface change.

[2015-05-11 15:06] individual61 commented on #57
Yeah, I came here to verify that they are public, because that didn't sound right!

[2015-05-11 15:07] ax3l commented on #57
hehe, that was fast :)

[2015-05-11 15:25] ax3l commented on #57
argh, there are more interfaces such as
[code]

[2015-08-05 08:19] ax3l commented on #57
commit in a stalled test branch: https://github.com/ax3l/pngwriter/tree/topic-hideThirdPartyIncludes
needs more refactoring in upcoming releases

[2015-08-30 20:25] ax3l commented on #15
Example code from the [homepage](http://pngwriter.sourceforge.net/main-en.php#quenohace):
[code]

[code]

[2015-08-30 21:03] ax3l opened #60 "Call for Feedback :)"
Add a "call for feedback" section in the readme to motive users to send in the pictures they create with pngwriter.

[2015-08-31 13:38] #60 closed

[2015-09-22 13:46] ax3l opened #66 "Coverty Scan"
This will cause a lot of work :D

[Coverty Scan](https://scan.coverity.com/faq) with [travis](http://docs.travis-ci.com/user/coverity-scan/) in a special branch.

[2015-09-22 15:45] ax3l commented on #66
Need to find out what [other lines of code (~30k)](https://travis-ci.org/pngwriter/pngwriter/jobs/81605037) stands for and maybe disable those/some? (Nevertheless, no defects in those.)

[2015-09-22 15:46] ax3l commented on #66
[Disable build after scan?](http://docs.travis-ci.com/user/coverity-scan/#execution) Disable matrix for `coverity_scan` branch?

[2015-09-22 16:59] ax3l opened #71 "Parameters of `read_png_image`"
The *private* member function [`read_png_image`](https://github.com/pngwriter/pngwriter/blob/283c34deaf775d0a03426fe082de1681c16d136f/src/pngwriter.cc#L1635-L1636) use pointers (instead of plain `png_uint_32`) for `width` and `height` arguments.

This confuses the Coverity Scan (CID 114042f.) since this would require an input check for `NULL` before de-referencing and assigning values.

I would th

[2015-09-22 17:02] ax3l opened #72 "`graph_` Dereference after NULL Check"
There are quite a few usages of `graph_` even if a `NULL` check failed and did print warnings to `stderr`.

Coverity Scan CID 114014-114024

[2015-09-23 15:58] ax3l opened #73 "Return Values: 0 is Success"
many functions use `0` as an integer `error` return code and `1` or something higher as `success`
- `read_png_image`
- `read_png_info`
- `check_if_png`
- ...

this is against common sense, where `0` is always the successful result in the coding world.

One could/should also define enums for those magic numbers (at least for success).

[2015-11-06 09:12] ax3l opened #75 "Run cppcheck"
Run and fix issues uncovered with [cppcheck](https://en.wikipedia.org/wiki/Cppcheck)

[2015-12-10 17:38] ax3l opened #76 "Creation Time Wrong?"
The creation time looks odd (png meta).

[code]

[Location 1](https://github.com/pngwriter/pngwriter/blob/55825e8b7758a34506a8b947e6648b20b02bf9f0/src/pngwriter.cc#L995-L1011), [location 2](https://github.com/pngwriter/pngwriter/blob/55825e8b7758a34506a8b947e6648b20b02bf9f0/src/pngwriter.cc#L1051-L1092)

Maybe we need to crop the user input/author to strlen 28 ? but description can be longer... hm

[2015-12-10 21:02] individual61 commented on #76
What's odd about it?

[2015-12-10 23:17] ax3l commented on #76
The creation time is only "10 Dec" and not a timestamp as below o.O

[2015-12-10 23:46] individual61 commented on #76
Oops, yeah.

[2015-12-14 11:21] ax3l commented on #76
oh, could also be related to an other change I made in app testing that. need to investigate further, might be wrong.

[2015-12-14 12:47] ax3l commented on #76
ok, it's a problem in PNGwriter.
the size [here](https://github.com/pngwriter/pngwriter/blob/55825e8b7758a34506a8b947e6648b20b02bf9f0/src/pngwriter.cc#L1078) can be too short and [this](https://github.com/pngwriter/pngwriter/blob/55825e8b7758a34506a8b947e6648b20b02bf9f0/src/pngwriter.cc#L1084) is also looking for the size of an undefined var...

[2015-12-14 13:13] #71 closed

[2015-12-15 14:41] #76 closed

[2015-12-16 16:33] #73 closed

[2015-12-16 17:15] ax3l opened #80 "Unused Parameters"
GCC 4.8.5 prints the following warnings with release `0.5.6` (on missing Freetype support):

[code]

[2016-01-31 19:50] mxmlnkn opened #82 "Add proper error handling"
Currently there is no error handling except prints with `std::err` and `perror`. This means, that it is hard to test if `readFromFile`failed or not. Currently it is done like this:

    pngwriter png( 1, 1, 0, "tmp.png" );
    png.readfromfile( "input.png" );
    if ( png.getwidth() == 1 and png.getwidth() == 1 )
        exit( EXIT_FAILURE );

But this check has a false positive for images of size

[2016-01-31 21:53] mxmlnkn opened #83 "Value degradation when calling pngwriter::plot with float values"
I was implementing a unit test for a read/write function using pngwriter and found the following problem. Some input values, like `0.868921399117f` were degrading to smaller and smaller values when chaining calls to `read` and `plot`. (More exactly I really wrote out the png and then read it in anew).

After roughly 120 iterations the value reaches a fix value of `0.868925001907f`. When representi

[2016-02-02 12:10] ax3l commented on #82
Absolutely, the current printf's should become clean C++ exceptions.

[2016-02-02 12:37] ax3l commented on #83
Thanks for the precise report! :sparkles:

As you correctly found out, the underlying issue is that float to int converts should in principle keep the 5 digits in the  `65535` shades of each color channel ([plot(...)](https://github.com/pngwriter/pngwriter/blob/0.5.6/src/pngwriter.cc#L745-L748)). As an example an expansion/multiplication is applied in the dbl plot member function:

[code]

Current

[2016-02-02 13:10] psychocoderHPC commented on #83
I also checked this issue and found that `BUGFIX I` is only working because of the bad float precision.

I think to minimize the rounding error from double to int a round nearest is a valid solution.
`pngwriter::plot` plot is only valid for doubles from [0;1] therefor a liddle change without performance influence can be added:
[code]

[2016-02-02 14:22] ax3l commented on #83
great, @mxmlnkn if you want to test this we can prepare a PR.

Should we also update the `*256` in the `int read(...)` calls? [[2]](https://github.com/pngwriter/pngwriter/blob/0.5.6/src/pngwriter.cc#L751-L860)

[2016-02-02 15:32] psychocoderHPC commented on #83
@ax3l The `read(...)` used only `int` for calculation and need IMO no changes.

[2016-02-02 22:01] mxmlnkn commented on #83
No I didn't, but I did now in the unit test and the problem also appears there.

Well the value closest to 0 not rounding to 0 because of precision would be 1/65535. If that is not small enough, then everything should be fine.

See pull request #84

Btw the output of the unit test before the round to nearest was implemented is:

    [...]
    Input Value  0.348608 converged to 0.347646  in    63 i

[2016-02-02 22:04] mxmlnkn commented on #47
If you used the `performance.cc` script, then my guess is the problem is with all the calls to `pngwriter.plot` which does 10+ checks each time it is called plus the call itself has some overhead if it isn't inlined. Maybe exposing the internal array or supplying a "plotUnchecked" function would be faster.

[2016-02-02 23:22] mxmlnkn opened #87 "Reduce Code Redundancy"
The functions `pngwriter::bezier` and `pngwriter::bezier_blend` are one example. the only difference in their 10+ lines body are `line` vs. `line_blend`. I think this is not the only case I saw.

[2016-02-02 23:30] mxmlnkn commented on #75
`cppcheck` doesn't find much with default settings. It finds some style warnings with `--enable-all` though

    Checking ../examples/lyapunov.cc...
    Checking ../examples/lyapunov.cc: NO_FREETYPE...
    1/7 files checked 9% done
    Checking ../examples/pngtest.cc...
    2/7 files checked 15% done
    Checking ../src/pngwriter.cc...
    Checking ../src/pngwriter.cc: NO_FREETYPE...
    Checking

[2016-02-02 23:32] mxmlnkn commented on #75
Note that cppcheck seems to have some problems with classes. I tried to add some obvious errors and didn't get any error message. Here is a minimal non-working example:

    struct test
    {
        char * mData;

        test()
        {
            mData = new char[255];  // leak only a style error
            mData[255] = 0;         // error not found for some reason
        }
    }

    int m

[2016-02-02 23:38] mxmlnkn commented on #75
Splint doesn't work with C++ and therefore with pngwriter, http://www.splint.org/faq.html#quest5

[2016-02-10 12:29] ax3l commented on #17
fixed by @mxmlnkn in #86.
thanks a lot! :sparkles:

[2016-02-10 12:29] #17 closed

[2016-02-10 12:34] ax3l commented on #83
fixed in #84

[2016-02-10 12:34] #83 closed

[2016-03-05 15:30] mxmlnkn opened #89 "8 Bit Reads: Upper Bound Broken of Scale-Up to 16-bit"
As `0.996109 ~ 1-1/255` this seems to happen because of some error in upscaling 255 to 65535. So unlike mentioned in the documentation

the highest value is not `65535` but `65280=65535-255`.
This bug afflicts both `read` and `dread` and all other read functions which call `read`, like scaling and interpolation, ....
I will submit a pull request shortly.

[2016-03-05 15:36] mxmlnkn commented on #89
... I'm not entirely sure how to do this though.
The problem are all lines (these are really many!) which include `*256`. Correctly this should be `/255.0*65535.0` for some fun reason this is exactly the same as `*257`, but the latter is a somewhat magic number, I wouldn't want to write this without a lengthy comment. I guess the best way is a global define `#define scale8to16bit 257 // actually /

[2016-03-05 23:41] mxmlnkn commented on #87
Why are all these overloads of `char *` with `const char *` even necessary?`Downwards compatibility? `const char *` should completely suffice in my opinion, the body is identical; at least the function can call each other instead of copy-pasting.

[2016-03-06 00:48] mxmlnkn opened #92 "Pngwriter seems to read files wrong"
I have these two images (I hope they aren't changed by uploading it (happened to me at least on sourceforge already))

![a](https://cloud.githubusercontent.com/assets/6842824/13551522/3d9cebe6-e33d-11e5-934f-cfe3cb1393df.png)
![b](https://cloud.githubusercontent.com/assets/6842824/13551521/3d9b7bc6-e33d-11e5-952b-aaccd2ac69c3.png)

The second one was sent through gimp without changing it. One nota

[2016-03-06 09:07] mxmlnkn commented on #92
Differences in source code traversal:
  - A calls [16-bit-read](https://github.com/mxmlnkn/pngwriter/blob/2e2da7817ef95008a8c713c634c23cde3e0a7ecb/src/pngwriter.cc#L765-L783), B calls [8-bit-read](https://github.com/mxmlnkn/pngwriter/blob/2e2da7817ef95008a8c713c634c23cde3e0a7ecb/src/pngwriter.cc#L787-L806)
  - Both call `readfromfile`
    `read_png_image(fp, png_ptr, info_ptr, &image, width, heigh

[2016-03-06 09:53] #92 closed

[2016-03-07 10:18] ax3l commented on #89
yes, too many magic numbers all over the place (https://github.com/pngwriter/pngwriter/issues/12#issuecomment-40074636).

[2016-03-07 10:34] mxmlnkn opened #95 "Constness removed in readfromfile?"
https://github.com/pngwriter/pngwriter/blob/2e2da7817ef95008a8c713c634c23cde3e0a7ecb/src/pngwriter.cc#L1555

    void pngwriter::readfromfile(const char * name)
    {
       this->readfromfile((char *)(name));
    }

Why does this even compile without a warning (GCC Bug?)? I mean constness is removed in the process ... Am I overlooking something?

[2016-03-07 10:42] ax3l commented on #95
since this a C++ library all names should actually be `std::string`. `const char *` can be casted automatically since `std::string` has a constructor for it.

[2016-03-07 10:46] mxmlnkn commented on #95
But the other `readfromfile` function doesn't take an `std::string`... Are you saying the cast actually copies the name to an `std::string` and then automatically converts that to an `char *` ? Isn't this kind of automagic copy on cast weird ...

[2016-03-07 10:57] ax3l commented on #89
Same bug as #13 but only for 8bit images?

[2016-03-07 11:02] mxmlnkn commented on #89
Yes, very similar. b3c0ef95da01a8d5aafd438186f57756a0eb87d3 seems to correct a similar array in the `plot` function, so the other way around. And it solves the `dread` problem by introducing a differentiation between 8 and 16-bit.

I find it interesting to see the `257` in the old code for `plot` ...

It also seems `blackwhite.cc` is exactly such an example you wanted in the PR, but yeah, it only

[2016-03-07 13:01] ax3l commented on #95
what I say is, if we change all the `const char *` C-weirdness to `const std::string` then calling such functions with `name( "something" )` will still work since this addresses directly one of the [std::string constructors](http://www.cplusplus.com/reference/string/string/string/).

[2016-05-09 10:06] ax3l opened #100 "OpenMP / OpenACC Flags"
Add OpenMP and/or OpenACC flags to the main loops.

[2016-05-18 09:52] jiangzhongshi opened #105 "An invalid parameter was passed to a function that considers invalid parameters fatal"
Hi guys, I am trying to use this library and I've been stuck at this:

at the `close()` function of `pngwriter` class (line 1094), an exception is thrown: saying "An invalid parameter was passed to a function that considers invalid parameters fatal".

    int main()
    {
        int width = 300;
	    int height = 300;
	    pngwriter PNG(width, height, 1, "E:/t.png");
	    double R, G, B;
	    int

[2016-05-23 12:41] ax3l commented on #105
Dear @jiangzhongshi,

thanks for the question. Your provided code has several warnings, runs y to `width` and not `height` and unused parameters. Nevertheless, can you try using a Windows-like filename such as `"E:\t.png"` or `"E:\\t.png"`? Do you have write access to `E:`?

I `valgrind`-ed the file and saw no problem. Can you try to run the `dev` branch and to run it in VS2015 `Debug` mode to sho

[2016-05-25 19:55] pkohut commented on #72
All constructors, operator =, invert, resize, scale_k, scale_kxky, scale_wh, functions need to be fixed.
Either throw or terminate the program in the check for a NULL graph_.

[2016-05-25 21:29] pkohut commented on #47
This might be useful for doing timing which are c98 compatible.
https://github.com/glennrp/libpng/blob/libpng16/contrib/libtests/timepng.c

[2016-05-26 07:26] ax3l commented on #47
Ah ok, but for timing they also just use [`clock_gettime`](http://linux.die.net/man/3/clock_gettime) (POSIX) or the `<ctime>` [`clock` functions](http://www.cplusplus.com/reference/ctime/clock/).

[2016-05-26 07:27] ax3l commented on #72
I think this might actually already be a branch where I started fixing it: https://github.com/ax3l/pngwriter/tree/topic-isInitialized

[2016-05-26 08:18] pkohut commented on #47
Ya, I spent a chuck of yesterday putting together a portable a Windows/OS X/Linux timer class.  Got ugly fast, especially since OS X does not have CLOCK_MONOTONIC available.  Stashed it after a while as the testing got to be a pain.

[2016-05-26 09:01] pkohut commented on #72
That solution is pretty invasive / heavy handed.
* Pollutes the codebase with guard statements
* Guard statements eat CPU cycles, especially in heavy loops.
* Provides no feedback to the library user of any problems.
* Provides no feedback to the library developers of any problems.
* Errors will be extremely hard to find.

Two options come to mind.
*  Terminate program execution with a non-zero ex

[2016-05-26 09:05] ax3l commented on #47
Ouch, I expected that.
I think we have two ways to go here without adding a lot of complexity: compiling the performance test with c++11 as now (maybe make it a bit more easier to build with targets in the CMakeLists.txt) or go for a simple C++98 POSIX (linux) performance tool which is simply only available for developers on that platform.

[2016-05-26 09:30] pkohut commented on #47
I think enabling C++11 just for "performance.cc" might be problematic.  Reason being, C++11 std library is not compatible with prior versions of the std library (ABI breakage) and won't link with the pngwriter lib.

I'll get you a link to the code I worked on yesterday.

[2016-05-26 09:54] ax3l commented on #47
I added a version in #109 that can be enabled manually for this specific test (and seems to work).

[2016-05-26 09:58] ax3l commented on #47
otherwise we can also add a switch to build the full library with C++11 if one wants to run this test.

[2016-05-26 09:59] pkohut commented on #47
The will be very useful for local linux builds too.

On Thu, May 26, 2016 at 2:54 AM, Axel Huebl <notifications@github.com>
wrote:

[2016-05-26 10:07] ax3l commented on #47
actually the "build all C++11" switch is just a:
[code]

[2016-05-26 10:15] ax3l opened #110 "libpng 1.7: png_convert_from_time_t deprecated"
https://travis-ci.org/ax3l/pngwriter/jobs/133069551#L2312

[code]

[2016-05-26 11:24] ax3l commented on #72
totally agree, that's why I did not continue on it.

sure. will change the API and still eat CPI cycles with checks, but the C++ way to handle those things.

[2016-05-27 11:49] pkohut opened #111 "Bug in background fill code for non 0x0000 background color (16 bit)"
In the constructor(s), the following code is wrong (comments added), as it writes the same value to each of the
16 bit RGB channels.
[code]

The extraction of each channel from the background color is dependent on which
RGB format is being used, RGB555 or RGB565.
The correct way to handle this is to extract each RGB element from the background color.

Decoding RGB555 uses
[code]
Decoding RGB565 us

[2016-05-28 00:43] pkohut commented on #111
Fixed implemented at
https://github.com/pkohut/pngwriter/commits/issue-111
which is based on #108

[2017-03-28 16:54] #80 closed

[2017-03-28 16:54] #89 closed

[2017-06-30 21:01] Cringere opened #115 "CMake: Build Broken on Windows"
when I run the command `cmake ../pngwriter`  I get the error
`CMake Error at CMakeLists.txt:111 (INSTALL):
  install Library TARGETS given no DESTINATION!`
any ideas how to solve it?

[2017-07-03 08:29] ax3l commented on #115
Can you add `-DCMAKE_INSTALL_PREFIX=<pathToInstallPNGwriterTo>`?

[2017-07-04 23:22] Cringere commented on #115
Sorry for not clarifying, I have windows 10, my c/c++ compiler is MinGW and I downloaded pngwriter 0.6.0. adding `-DCMAKE_INSTALL_PREFIX` didn't work (i get the same error)

[2017-07-05 11:33] ax3l commented on #115
All right, thanks for the info!

The `dev` branch now contains a fix for `CMake` to build & install the library on windows. Can you try if that works for you? In detail, [this is the CMakeLists.txt patch](https://github.com/pngwriter/pngwriter/commit/f6ef8137aa93d4885cf082142acaf4e36e7355f2) that fixed your reported issue and [here is an example script how to compile](https://github.com/pngwriter/

[2017-07-05 15:58] Cringere commented on #115
It works perfectly now, Thank you so much for helping!

[2017-07-05 15:58] #115 closed

[2017-09-14 00:26] cbsdtools opened #118 "make install yields --> "make.include:1: *** missing separator. Stop.""
The build instructions aren't exactly clear on the third step "make install"
When I do that from the defined "build" directory, it returns this error:
`make: *** No rule to make target 'install'. Stop.`

Then, when I `cd ../pngwriter` and rerun the same command (this directory at least has a Makefile), then I get this error:
`make.include:1: *** missing separator. Stop.`

I used Cmake to perform t

[2017-09-14 15:45] ax3l commented on #118
thanks for reporting the issue!

Did you set the `-DCMAKE_INSTALL_PREFIX=/your/path` in the CMake call?

On Windows, you don't
[code]

with CMake, but run instead
https://github.com/pngwriter/pngwriter/blob/7c583dbd15c38ad452843ab7480295811f1b3a23/.appveyor.yml#L58-L60

[2017-09-14 15:47] ax3l commented on #118
We just enabled windows builds very recently in #116, so make sure to take the `dev` branch on Windows (or apply the same patch about the math library linking in your version).

[2017-09-14 20:52] TacticalBanana96 opened #119 "Problems with flood_fill and boundary fill"
While trying to flood fill entire background the project builds fine without any problems but when i try to run it the program crashes. While trying to debug it, it shows the issue as a function in pngwriter.h called read. I'm not sure why this is happening, thanks for any assistance.
![issue1](https://user-images.githubusercontent.com/15018276/30455183-ed86b5c8-996c-11e7-8b27-e74a765710af.png)
![

[2017-09-15 08:57] ax3l commented on #119
hi @TacticalBanana96 ,

thank you for your report!

What is the version of PNGwriter and your compiler you are using?
Did you try compiling PNGwriter with debug flags for further information?

[2017-09-15 12:36] TacticalBanana96 commented on #119
Hello thanks for the reply
I'm using pngwriter  Version:  0.6.0 (March 2017) and Microsoft visual studio community 2017. Also I let my professor check it out and he was also confused because my code wasn't using the read() function and he tried to make a new project where it only created a new image and used the flood_fill() function and the same problem keeps happening.

[2017-09-21 12:55] ax3l opened #120 "Front Page Comment"
@individual61 since the adware issue is solved since sourceforce was aquired, we should remove the rant from the README :)

https://www.reddit.com/r/sysadmin/comments/4n3e1s/the_state_of_sourceforge_since_its_acquisition_in/

I will provide a PR.

[2017-09-21 16:43] individual61 commented on #120
I had no idea, thanks for catching this.

[2017-10-03 16:46] ax3l commented on #120
fixed :)

[2017-10-03 16:46] #120 closed

[2017-11-21 19:32] leonelhs opened #121 "plot text color"
How can I set #2b487f color for plot text? because r:17 g:28, b:50 only shows white text.

[2017-11-22 13:47] ax3l commented on #119
I have to admit I never used those two functions when I inherited the project as a maintainer :)

Have you made any progress on it? If anyone finds a fix we are very open to a PR on it, but I can't did deeper myself into it right now.

[2017-11-22 14:27] ax3l commented on #121
thank you for the question!

Can you please post a compile-able code snippet showing your issue? PNGwriter has several overloaded interfaces for writing text and it might just lack proper documentation of the parameters in your case.

[2017-11-22 14:33] ax3l commented on #121
Just for later a little note for us: the blue you are referring to is

| HTML | 8bit | % |
|---------|-------|-------|
| `#2b487f`|43:72:127|16.9, 28.2, 49.8|

[2017-11-22 16:34] leonelhs commented on #121
yes thats right thats exactly was I looking for. thanks a lot.

[2017-11-22 17:05] ax3l commented on #121
Wonderful, you are welcome! :)

[2017-11-22 17:05] #121 closed

[2018-02-01 13:03] rakuco opened #126 "No shared library in 0.7.0"
With the CMake changes that went into the 0.7.0, the `add_library()` call was changed and the build only generates a static `libPNGwriter.a` now.

Was that a deliberate change?

[2018-02-02 10:19] ax3l commented on #126
Hi,

yes, I unified the build to standard CMake conventions that usually build one or the other, while `static` is the CMake default.

You can just pass `-DBUILD_SHARED_LIBS=ON` to your CMake call and will get shared libs. Does that work for you?

I am sorry for the hassle that this caused, I think I forgot to document that...

[2018-02-02 10:30] rakuco commented on #126
It does (the bigger context is that I package pngwriter on FreeBSD), thanks. Please feel free to close this issue, I'm leaving it open in case you want to document this change in a pull request.

[2018-02-02 11:53] ax3l commented on #126
Hurray, thank you for packaging PNGwriter! :)

Yes, I will leave the issue open until we updated the install instructions properly.

[2018-02-28 17:52] robertlight opened #128 "convert.im6: Ignoring incorrect gAMA value when sRGB is also present"
I am creating my png with PNGWriter.

When using imagemagick to process this png file, I get the following error when dealing with the png file:

convert.im6: Ignoring incorrect gAMA value when sRGB is also present `DoseTest6_p2.1_files/13.png' @ warning/png.c/MagickPNGWarningHandler/1752.
incorrect gamma=(0/100000)

Is there a way to write my png's with PNGWriter so that it doesn't put out a gAMA

[2018-03-01 19:19] ax3l commented on #128
Thank you for the report!

Uh, that's bad. Can you post a minimum-snippet how you wrote the png? And maybe attach an example png to reproduce the issue? What's the exact `convert` command you execute on it with imagemagick?

In principle, you can set the gAMA value with [`setgamma(double)`](https://github.com/pngwriter/pngwriter/blob/0.7.0/src/pngwriter.h#L379-L384) - but maybe the defaults are of

[2018-07-11 11:49] fouzhe opened #129 "SEGV in function pngwriter::readfromfile"
I use **Clang 6.0 and AddressSanitizer**  to build **pngwriter v0.7.0**, this [file](https://github.com/fouzhe/security/blob/master/pngwriter/crash_SEGV_readfromfile) can cause SEGV signal when running the **test** `blackwhite` in folder `pngwriter-build` with the following command:

[code]

This is the ASAN information:

[code]

[2018-07-11 14:04] ax3l commented on #129
Thank you for the report and thank you for fuzzying PNGwriter!

Just for reference, can you attach the exact build command you used for AddressSanitizer as well (CMake line)?

[2018-07-11 14:09] fouzhe commented on #129
I use this command before `cmake`:
[code]

[2018-07-11 14:13] ax3l commented on #129
Thanks!
Which version of libpng did you use? I am surprised that it reaches line 1313 after the error in `read_png_info` is raised.

[2018-07-11 14:55] ax3l commented on #129
I am trying to reproduce the error with your file and clang 6.
What are you passing as `char * name` to the `readfromfile` call? Are you hooking that one directly? If yes, is this c-string zero-delimited?

I am using libpng `1.6.34` and have freetype support as well (2.8.1).

In my case, it just aborts reading after `check_if_png`:
[code]

[2018-07-11 15:02] ax3l commented on #129
Looks to me like the string name passing is the one causing the trouble, not the test file.
Should be solvable with #95.

An other issue in `readfromfile` for the `blackwhite` (or any read) example is, that a user can not check if the file is valid after the call `readfromfile()` that might have errored. That means subsequent calls to the pngwriter instance might not be allowed.

[2018-07-11 15:29] fouzhe commented on #129
I use libpng 1.6 .
Did you use AddressSanitizer？

[2018-07-11 15:40] ax3l commented on #129
Ah, can reproduce now. Checking!
I messed up the download of the file, sorry!

[2018-07-11 16:12] ax3l commented on #129
Hm, still slightly different but at least crashing with an address violation.

Contrary to the [offical docs](http://libpng.org/pub/png/libpng-manual.txt), calling [`png_destroy_read_struct` on an invalid file](https://github.com/pngwriter/pngwriter/blob/0.7.0/src/pngwriter.cc#L1494) seems not to be a sane libpng operation:
[code]

[2018-07-11 16:29] ax3l commented on #129
Probably it's the missing error handling of the call to [`png_read_image`](https://github.com/pngwriter/pngwriter/blob/0.7.0/src/pngwriter.cc#L1550)

[2018-07-11 16:40] fouzhe commented on #129
Is this a bug of libpng?

[2018-07-11 16:41] ax3l commented on #129
~~I think it's in PNGwriter already.~~

libpng has a nifty way of error handling. Something like C++ exceptions but in C with jumps.
`png_read_image` throws such an error on your file, but PNGwriter does not properly handle it and does continue to operate on an invalid state.

[2018-07-11 16:49] ax3l commented on #129
Although, it could also be an error in `png_destroy_read_struct` directly in libpng...
We call that as recommended on error-handling cleanup but it looks like this is causing the problem.

[2018-07-11 17:10] ax3l commented on #129
Full stack with libpng 1.6.34:

[code]

4: `png_read_image`
3: error handling longjump
2: freeing of allocated memory during error handling via `png_destroy_read_struct`
[code]
1: will ultimately call `png_free_data(png_ptr, info_ptr, PNG_FREE_ALL, -1);`
[code]
0: in `png_free_data`:
[code]

[2018-07-11 17:18] ax3l commented on #129
@fouzhe I now think it might actually be a libpng bug...

[2018-07-11 17:29] ax3l commented on #129
@fouzhe I tried against libpng 1.5.30 and 1.6.34 now.

The error is ~~newly introduced in libpng 1.6.34~~ is in both versions and needs to be fixed there. Can you [report it with a minimal example upstream](https://sourceforge.net/p/libpng/bugs/)? The issue is caused by the [*recommended* error handling](http://libpng.org/pub/png/libpng-manual.txt) in the form of

[code]

The error seems to be par

[2018-07-12 02:50] fouzhe commented on #129
Oh,I will try it!

[2018-08-29 14:04] ma-we opened #131 "Missing freetype include in pngwriter.h"
For building PIConGPU `0.4.0-rc1`, `pic-build -b "omp2b"` on Titan (ORNL) using pngwriter with own build freetype2 I need to add the following include line to `pngwriter.h`:
`#include <freetype/ftimage.h>`

Looks like that in `pngwriter.h` context:
[code]

Below is the build and makefile output.
[code]

[2018-08-29 14:05] ax3l opened #132 "Freetype: Missing Image Include"
@ma-we reports in https://github.com/ComputationalRadiationPhysics/picongpu/issues/2695 a missing include of `#include <freetype/ftimage.h>`.

GCC version: 4.9.3 with Cray wrappers
GLibc version: 2.11.3 (below 2.18!)

System: Titan (ORNL)

The problem is weird, since we include already
[code]

which does include the image include as well: https://www.freetype.org/freetype2/docs/reference/ft2-heade

[2018-08-29 14:06] ax3l commented on #132
duplicate of just opened  #131, sorry I thought you forgot to open this :)

[2018-08-29 14:06] #132 closed, assigned to nobody

[2018-08-29 14:08] ax3l commented on #131
Thanks for the detailed report! :sparkles:

The problem is weird, since we include already
[code]

which does include the image include as well: https://www.freetype.org/freetype2/docs/reference/ft2-header_file_macros.html#FT_IMAGE_H

[2018-08-29 14:24] ax3l commented on #131
@ma-we if you change the include to
[code]

does that fix the compile error as well?

[2018-08-29 14:48] ma-we commented on #131
Yes, that fixes the error.

[2018-08-29 15:45] ax3l commented on #131
Hm, confusing. Is there another Freetype2 library in your include paths as well?
Anyway, I will just add this include explicitly (although it should be there implicitly following the docs).

[2018-08-30 14:52] ax3l commented on #126
documented with #127 :)

[2018-08-30 14:52] #126 closed, assigned to ax3l

[2018-10-10 16:43] JohnCharlery commented on #119
The default stack size of 4MB in MSVC is too small for both the flood_fill and the boundary_fill functions. In Project->Linker->System, set the Stack Reserve Size to 150000000 and the Stack Commit Size to 100000. This will take care of the Stack Overflow problem.

[2019-02-11 09:36] ax3l commented on #131
fixed in #133

[2019-02-11 09:36] #131 closed, assigned to ax3l

[2019-04-19 13:42] plammens opened #136 "Malformed make build files upon cmake (empty macro flags)"
On Windows (with `cygwin64`), when `cmake` generates the configuration files for `pngwriter` some of the "define" macros are empty (as in `CXX_DEFINES = -D-DSOME_MACRO`); thus when running `make install`, installation halts with the following error.

[code]

Versions:
- `cmake` 3.6.2
- GNU `make` 4.2.1
- `cygwin64` 3.0.5

# Steps to reproduce

1. Clone the git repo
2. Make a build directory and ru

[2019-05-16 12:52] ax3l commented on #136
Thank you for the report!
Hm, that looks malformed indeed. Can you post the output of your `cmake ../` command?

Could be transitively be added from libpng or zlib... How did you install those two?

[2019-05-16 13:41] plammens commented on #136
@ax3l Here is the output of `cmake ../ -DCMAKE_INSTALL_PREFIX=$HOME/libs/`:
[code]

I installed `zlib` and `libpng` through `cygwin`'s package installer.

I also tried with `-DPNGwriter_USE_FREETYPE=OFF`, with the same results.

[2019-05-17 14:15] ax3l commented on #136
Thank you for the info!
I am having a hard time (without a windows PC) to reproduce this in #137.
Currently, our CI assumes and tests a VisualStudio build.

How did you install zlib and libpng with cygwin? What exact package names/line did you use for `setup-x86_64.exe`?
Update: ok, I can reproduce it now on AppVeyor (remotely...)

[2019-05-17 14:59] ax3l commented on #136
Hm, this looks like a CMake bug in `FindPNG.cmake` to me:
https://github.com/Kitware/CMake/blob/v3.6.2/Modules/FindPNG.cmake#L114-L121
Line 144 should only read
[code]

You can work-around this by compiling `PNGwriter` with `-DBUILD_SHARED_LIBS=ON`:
[code]

[2019-05-17 15:11] ax3l commented on #136
I opened an upstream merge request to CMake: https://gitlab.kitware.com/cmake/cmake/merge_requests/3337
This will take some time until it trickles down to the Cygwin CMake package, so you might want to use your work-around or build shared libs as in my work-around in the meantime :)

CMake 3.15.0+ will ship the fix.

[2019-05-18 08:26] plammens commented on #136
@ax3l Wow, that was quick! 😄 Thanks for the response!

[2019-05-20 07:42] ax3l commented on #136
You are welcome :)
Thank you again for the helpful, detailed report!

[2019-05-20 07:42] #136 closed, assigned to nobody

[2019-07-25 01:38] guanghaoli opened #138 "Target "PNGwriter" links was not found"
When I install PNGwriter using cmake3.3. The configure information and error information are listed as follows:
PNGwriter build configuration:
  PNGwriter Version: 0.7.0
  C++ Compiler : GNU 4.9.2
    /software/biosoft/software/gcc4.9_install/gcc4.9.2/bin/c++

  Installation prefix: /p200/wuzhy_group/ligh/software/Cplus/pngwriter

  Build Type: Release
  Build Options:
    FREETYPE: ON

-- Configu

[2019-07-29 21:17] ax3l commented on #138
Thanks for the report!
Can you please show the exact commands you are executing, from source download to cmake arguments?

What's your platform? Is this a compiler bundle for Windows? Did you install zlib and libpng as well?

[2020-05-14 10:44] johughes99 opened #139 "undefined reference to symbol"
When linking pngwriter to my code I get the following error

/usr/bin/ld: /usr/local/lib/libPNGwriter.a(pngwriter.cc.o): undefined reference to symbol 'png_set_sig_bytes@@PNG16_0'
//usr/lib/x86_64-linux-gnu/libpng16.so.16: error adding symbols: DSO missing from command line

I'm using Ubuntu 18.04 and I have libpng installed  (libpng-dev)

[2020-05-14 11:19] johughes99 commented on #139
Solved it. I add in -lpng - AFTER the libPNGwriter.a - although the manual tells you to have it before.

[2020-05-18 00:47] ax3l commented on #139
Hi @johughes99,

oh dang, that's definitely wrong in the docs. Linking static libraries is order-dependent. Fixed in #140, thank you for the report!

[2020-05-29 01:59] ax3l commented on #139
Fixed in #140

[2020-05-29 01:59] #139 closed, assigned to nobody

[2020-08-05 05:13] #129 closed, assigned to nobody

[2020-09-14 23:48] RajaSrinivasan opened #142 "Resize image without losing all contents"
I am creating an image and filling lines of text. Dont know how many lines when i start. So I would like to truncate the image once i know how many lines i wrote.

is there a way to do this?

thanks

[2020-09-29 18:15] ax3l commented on #142
Hi,

that's not possible with the current implementation.
This would probably also be relatively slow, as one has to seek and copy over the data on every resize.

Would it be possible for you to store your data in some kind of container that supports fast resizes and then write all data at once?

[2020-09-29 20:09] RajaSrinivasan commented on #142
That is what i ended up doing. Thanks, srini

[2020-09-29 20:09] #142 closed, assigned to nobody

[2022-01-24 19:06] ndl303 opened #143 "VCPKG installed the VS2019 Debug library into the release area of VCPKG and the Release library into the Debug area."
Thanks for building pngwriter.

I'm not sure if this is a pngwriter cmake issue or a VCPKG issue but I installed pngwriter into VCPKG ( `.\vcpkg install pngwriter`). When I used the library in a Debug build in VS2019 it compiled cleanly but failed during link, claiming incompatibility as the main code was built with MDd_DynamicDebug while the pngwriter lib  was built with MD_DynamicRelease.

[code

[2022-01-24 23:06] #143 closed, assigned to nobody

[2022-01-24 23:08] ndl303 commented on #143
Sorry. My mistake. I'm not sure how it happened but the normal Visual Studio compiler settings I use for Debug compiling were using Release settings. I apologize.

[2022-01-24 23:33] ax3l commented on #143
No worries and thanks for the report nonetheless!

Let us know if you encounter any other issues. Have fun with PNGwriter!

[2022-01-24 23:34] ax3l commented on #138
Closing due to inactivity :)

Feel free to re-open with additional details if the problem persists.

[2022-01-24 23:34] #138 closed, assigned to nobody

[2022-02-03 03:21] Lucyjacob opened #144 "Hello"
How are you doing today